body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.container {
display: grid;
grid-template-rows: auto auto auto auto;
justify-items: center;
width: 80%;
max-width: 800px;
}