body {
margin: 0;
background: #8076A6;
font-family: Arial, sans-serif;
}


.container {
background: #9889c2;
padding: 100px;
border-radius: 20px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.logo {
font-size: 120px;
font-weight: bold;
color: #1A1A1A;
margin: 0 0 30px 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 40px;
}

button {
    width: 190px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

button.login {
    background-color: #232835;
    color: #B6BDD0;
    font-weight: bold;
}

button.signin {
    background-color: #8C94A9;
    color: #232835;
    font-weight: bold;
}