/* General font and body colors */
body {
    font-family: 'Arial', sans-serif;
    color: #000000; /* light text color */
}

/* Headings */
h1 {
    font-size: 2rem;
    margin: 0;
}

/* Links */
a {
    color: #0048ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Inputs common style */
input {
    background-color: #ffffff;
    color: #0000;
    font-size: 1rem;
}

input::placeholder {
    color: #000000;
}

/* Buttons common style */
button {
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6770a3; /* slightly lighter on hover */
}


.wrapper div a {
    margin-top: 10px;
}